.DS_Store
*.log
node_modules/
/config.php
content/advanced-cache.php
content/backup-db/
content/backups/
content/blogs.dir/
content/cache/
content/upgrade/
content/uploads/
content/mu-plugins/
content/wflogs/
content/wp-cache-config.php
content/plugins/hello.php

/media

/.htaccess
/wordpress/sitemap.xml
/wordpress/sitemap.xml.gz
/*.code-workspace
